@font-face {
    font-family: 'coneria_script_demoregular';
    src: url('../fonts/demo_coneriascript-webfont.woff2') format('woff2'),
    url('../fonts/demo_coneriascript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
html{
    animation-name: fadeIn;
    animation-duration: 2s;
}

.titulo{
    font-size: 3vw;
}

#floresV{
    width: 1.5%;
}

#floresH{
    width: 10%;
}

#car{
    max-width: 55%
}

.fecha{
    font-size: 1.6vw;
}

.iglesia{
    font-size: 1.1vw;
}
.iglesiaDir{
    font-size: 1.2vw;
}
.recepcion{
    font-size: 1.2vw;
}
#col1{
    margin-left: 10%;
}

#col2{
    margin-left: 13%;
}

.col-sm-4{
    font-size: 2vw;
}

.txt{
    font-size: 1vw;
}


@media only screen and (max-width: 600px) {
    .titulo{
        font-size: 6vw;
    }
    #floresV{
        width: 3.5%;
    }
    #car{
        max-width: 95%
    }

    #floresH{
        width: 15%;
    }

    .fecha{
        font-size: 4vw;
    }
    .countdown{
        font-size: 3vw;
    }
    .iglesia{
        font-size: 3.5vw;
    }
    .iglesiaDir{
        font-size: 3vw;
    }
    .recepcion{
        font-size: 3.5vw;
    }
    .col-sm-4{
        font-size: 5.5vw;
    }

    #col1{
        margin-left: 10%;
        margin-right: 10%;
    }

    #col2{
        margin-top: 13%;
        margin-left: 13%;
        margin-right: 13%;
    }

    .txt{
        font-size: 3.3vw;
    }

    #btn{
        border-width: 2px;
        border-color: black;
    }

    footer{
        margin-top: 5%;
    }
}
